<%= render "shared/header"%>

<%= form_with model: @recipe, url:recipes_path, method: :post , class: 'registration-main new', local: true do |f| %>

<div class='form-wrap new'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      <%= @recipe.name %>
      <%= f.text_area :name, class:"input-default hide", id:"name", placeholder:"食材名を入力してください", maxlength:"40" %>
    </h1>
  </div>

  <%= render 'shared/error_messages', model: @recipe %>  

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">イメージ</label>
       <span class="indispensable">必須</span>
    </div>
     <label class="form-image">
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div> 

  <div class="ingredients" id="ingredient-index">
    <div class="ingredient-content">
      <% if @recipe.ingredient_names %>
        <% @recipe.ingredient_names.each do |ingredient|%>
          <p><%= ingredient.ingredient_name %></p>
        <% end %>
        <% else %>
        <div class="ingredient-lists">
          <div class="ingredient-row">
            <p class="ingredient-name">食材を入力してください</p>
            <p class="ingredient-quantitiy">量を入力してください</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group"> 
    <div class="ingredient-group">
      <div class='ingredient-wrap'>
        <label class="form-text">食材・調味料</label>
      </div>
      <div class='ingredient-wrap'>
        <label class="form-text">分量</label>
      </div>
    </div>
    <div class="ingredient-group ingredient-form">
      <input type="text" name="recipe_form[ingredient_names][]", placeholder="食材・調味料", class="input-ingredient input", id="ingredient_name">
      <input type="text" name="recipe_form[quantities][]", placeholder="分量", class="input-ingredient input", id="quantitity">
    </div>

    <%# 追加・削除をするためのフォームをJSで扱えるようにする %>
    <%= javascript_tag  do %>
      const ingredient =  
      `  <div class="ingredient-group ingredient-form">
      <input type="text" name="recipe_form[ingredient_names][]", placeholder="食材・調味料", class="input-ingredient input", id="ingredient_name">
      <input type="text" name="recipe_form[quantities][]", placeholder="分量", class="input-ingredient input", id="quantitity">
    </div>`
    <% end %>
    <div class="button-wrap">
      <button type="button" class="ingredient-button" id="button_plus">行を追加</button>
      <button type="button" class="ingredient-button" id="button_delete">行を削除</button>
    </div>
    
  </div>



  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">レシピ説明</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :description, class:"input-recipe", id:"password", placeholder:"レシピ説明" ,rows: "10"%>
  </div>

  <div class="form-group">
  </div>

  <div class='register-btn'>
    <%= f.submit "レシピ登録" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>


<%= render "shared/footer"%>