<%= render "shared/header"%>

<%= form_with model: @recipe, url:content_recipes_path, class: 'registration-main new', local: true do |f| %>

<div class='form-wrap new'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      レシピのタイトル
    </h1>
  </div>

  <%= render 'shared/error_messages', model: @recipe %>  

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">レシピタイトル</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :name, class:"input-default", id:"name", placeholder:"レシピタイトルを入力してください", maxlength:"40" %>
  </div> 

  <div class='register-btn'>
    <%= f.submit "レシピ内容登録へ進む" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>


<%= render "shared/footer"%>