<%= render "shared/header"%>

<div class="main">

  <div class="result">
    <%= link_to "ホームに戻る", root_path, class:"link"%>
  </div>
  
  <div class="recipes">
    <% if @results.present? %> 
      <% @results.each do |result| %>
          <div class="recipe">
            <% if result.image.attached? %>
              <%= image_tag result.image , class:"food-picture" if result.image.attached?%>
            <% end %>
            <div class="content">
              <%= link_to result.name, recipe_path(result) ,class:"title" %>
              <p class="ingredient">材料：
                <% result.ingredients.each do |ingredient|%>
                  [<%= ingredient.ingredient_name %>]
                <% end %>
              </p>
            </div>
          </div>
      <% end %>
    <% else %>
      <div class="result">
        <p class="submit-result">検索された食材をつかうレシピはありません</p>
        <%= link_to "レシピをつくる", new_recipe_path , class:"link" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer"%>