<%= render "shared/header"%>

<div class="main">

  <div class="result">
    <%= link_to "ホームに戻る", root_path, class:"link"%>
  </div>
  
  <div class="recipes">
    <% if @ingredients.present? %> 
      <% @ingredients.each do |ingredient| %>
        <% ingredient.recipes.each do |recipe| %>
          <div class="recipe">
            <% if recipe.image.attached? %>
              <%= image_tag recipe.image , class:"food-picture" if recipe.image.attached?%>
            <% end %>
            <div class="content">
              <%= link_to recipe.name, recipe_path(recipe) ,class:"title" %>
              <p class="ingredient">材料：
                <% recipe.ingredients.each do |ingredient|%>
                  [<%= ingredient.ingredient_name %>]
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="result">
        <p class="submit-result">検索された食材をつかうレシピはありません</p>
        <%= link_to "レシピをつくる", new_recipe_path , class:"link" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer"%>